.services_wrapper{
    height: 100%;
    width: calc(100vw - 50vw);
    padding: 15px;
    /* overflow-y: scroll; */
}

.services_inner{
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    overflow-y: scroll;
    padding: 20px 0;
    /* border: 1px solid red; */
    /* margin: 20px 0; */
}

/* .services_cards{
    display: flex;
    width: 100%;
    border: 1px solid red;
} */


.service_card_item{
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    /* min-height: calc(100vh - 80px); */
}

.service_card_item h3{
    font-size: 2vh;
    text-align: center;
}

.card_item_inner{
    /* border: 1px solid white; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 28vh;
    background-color: #3266a8;
    padding: 50px;
    position: relative;
    /* cursor: pointer; */
    transition: all 0.5s ease;
}

.card_item_desc{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    color: #3266a8;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    padding: 20px;
    text-align: left;
    
}

.card_item_inner:hover .card_item_desc{
    display: flex;
}

@media screen and (max-width: 440px){
    .service_card_item{
        grid-template-columns: repeat(auto-fit, 90vw);
    }
}

















.service_inner{
    padding: 50px;
}
.service_agent_card{
    background-color: white;
    display: flex;
    flex-direction: column;
    
    padding: 20px;
}
.service_vard_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.service_2{
    padding: 50px;
    background-color: #3266a8;
    width: 50%;
    text-align: left;
    font-size: 20px;
    color: white;
}

.service_2_steps{
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 20px;
    justify-content: center;
    padding: 15px;
}

.step_card{
    display: flex;
    flex-direction: column;
    border: 1px solid #3266a8;
    padding: 20px;
    gap: 15px;
    justify-content: center;
}

.service_card_2{
    background-color: #3266a8;
    width: 100%;
    height: 300px;
    display: flex;
    gap: 20px;
    color: white;
    align-items: center;
    margin: 50px 0;
}

.service_2 span{
    /* color: blue; */
    text-decoration: underline;
    cursor: pointer;
}