.agent_reg{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.agent_reg_top{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
    background-color: #3266a8;
    color: white;
    width: fit-content;
    border-radius: 5px;
}

.agent_services_wrapper{
    height: 350px;
    overflow-y: scroll;
}

.services_label{
    background-color: white;
    width: 90%;
    display: block;
    padding: 7px;
    border-radius: 3px;
    font-size: 1.2rem;
    cursor: pointer;
    color: black;
}

.services_choice input[type='checkbox']:checked + .services_label{
    background-color: black;
    color: white;
}