.users_wrapper{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.users_inner h3{
    margin-bottom: 10px;
}
.table{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    margin: 10px auto;
    transition: all 0.8s ease;
}

.table td {
    padding: 3px;
    border: 1px solid white;   
    text-align: center;
    
}

.table th{
    background-color: #36668f;
    color: white;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}

.table tr{
    transition: all 0.8s ease;
}

.table tbody tr:nth-child(even){
    background-color: white;
    /* box-shadow: 1px 2px 5px #dadbdb; */
}









@media screen and (max-width: 420px){
    .table thead{
        display: none;
    }

    /* .table{      
        background-color: white;       
    } */

    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
       
    }

    .table tr{
        margin-bottom: 15px;
    }
    .table tbody tr:nth-child(even){
        background-color: #e4e4ff;
        /* box-shadow: 1px 2px 5px #dadbdb; */
    }

    .table td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }

    .table td, .table th{
        padding: 7px;
        border: 1px solid #fff;
        font-size: 14px;
        /* color: #5e5e5e; */
     
        
    }

 
}
