.application_wrapper{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.appli_inner_left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.appli_item{
    padding: 10px;
    width: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.appli_active{
    padding: 10px;
    width: 250px;
    color: white;
    background-color: #36448d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checked_svg{
    background-color: #7d2ad5;
    color: white;
    padding: 3px;
    font-size: 1.2rem;
}


.appli_inner_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
   
}

.appli_head{
    position: absolute;
    top: 0;
    left: 0;
    color: #aaa;
    display: none;
}

.no_appli{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.appli_items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    /* transition: all 0.5s ease; */
    /* position: sticky; */
    /* top: 100px; */
    height: 80vh;
    overflow-y: scroll;
    /* margin-top: 80px; */
}

.pay_time{
    margin: 10px 0;
}


.appli_title{
    /* color: #aaa; */
    font-size: 18px;
    font-weight: 700;
}

.appli_input{
    /* max-width: 500px; */
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #b8d3e9;
    font-size: 1.1rem;
    border-radius: 3px;
    border: 1px solid #36668d;
}

.input_inner{
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: #777;
    width: 500px;
}

.acc_back{
    display: flex;
    align-items: center;
    gap: 10px;
}

.add_phone{
    display: flex;
    width: 100%;
    gap: 4px;
    align-items: center;
}

.add_phone button{
    width: 30px;
    height: 30px;
    background-color: #eaeaea;
    border: none;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mult_inputs{
    display: flex;
    gap: 5px;
}

.btn_appli{
    border: none;
    padding: 12px 25px;
    background-color: #7d2ad5;
    color: white;
    font-size: 16px;
    width: fit-content;
}

.passport_inner{
    display: flex;
    align-items: center;
    gap: 40px;
}

.group_inner_inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pass_attach{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 240px;
    background-color: #eaeaea;
    border-radius: 5px;
    cursor: pointer;
}

.pass_attach span{
    display: flex;
    align-items: center;
    gap: 10px;
}

.pass_attach svg{
    background-color: white;
    padding: 5px;
    font-size: 1.5rem;
}

.btn_now{
    padding: 9px 15px;
    border: none;
    background-color: #7d2ad5;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
}

.btn_later{
    padding: 10px 15px;
    border: none;
    background-color: transparent;
    color: #7d2ad5;
    font-size: 15px;
    cursor: pointer;
    /* border-radius: 5px; */
}

/* .mode_img{
    width: 40px;
} */

.modes_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 80px);
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.mode_img img{
    width: 100%;
}

.mode_label{
    position: relative;
}

.checked_mode{
    height: 25px;width: 25px;
    background-color: #7d2ad5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    position: absolute;
    margin: 0 auto;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform all 0.5s ease;
}

.appli_cost{
    background-color: #efe2fd;
    padding: 15px;
    border-left: 8px solid #7d2ad5;
    width: fit-content;
    margin-top: 20px;
}

.pay_summary{
    padding: 10px;
    background-color: white;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 5px;
}

.pay_summary h3{
    color: #aaa;
    /* margin-bottom: 5px; */
}

.input_inner1{
    padding: 10px;
    background-color: #cfcfcf;
}

.pay_item_mode{
    display: flex;
    gap: 2px;
    align-items: center;
}

.pay_item_mode img{
    width: 40px;
}

.photo_inner{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.photo_attach{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 240px;
    background-color: #eaeaea;
    border-radius: 5px;
    cursor: pointer;
}

.btns_pay{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

/* .btns_pay button{
    border: 1px solid #7d2ad5;
    background-color: transparent;
    font-size: 17px;
    color: #7d2ad5;
    padding: 7px 13px;
    border-radius: 5px;
} */

.pay_evi{
    border: 1px solid #7d2ad5;
    background-color: transparent;
    font-size: 17px;
    color: #7d2ad5;
    padding: 7px 13px;
    border-radius: 5px;
}

.btn_pay_later{
    margin-top: 55px;
    border: none;
    background-color: transparent;
    width: fit-content;
    text-align: center;
    background-color: rgb(201, 201, 201);
    padding: 15px;
    left: 50%;
    
}

@media screen and (max-width: 440px){
    .appli_inner_left{
        display: none;
        /* flex-direction: column;
        gap: 10px; */
    }

    .appli_items{
        
        width: 100%;
        /* transition: all 0.5s ease; */
       
    }

    .input_inner{
       
        width: 100%;
    }

    .appli_inner_right{
       
        width: 100%;
        height: 80vh;
        /* border: 1px solid red; */
    }

    .passport_inner{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        gap: 20px;
        overflow-y: scroll;
        height: 60vh;
        background-color: #ebebeb;
    }

    .photo_inner{
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .photo_attach{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 140px;
        background-color: #d7d7d7;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }

    .application_wrapper{
        /* display: flex; */
        gap: 10px;
        padding: 0 10px;
    }

    .mult_inputs{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .group_inner_inputs{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        padding: 10px;
        
    }
    .btn_pay_later{
       
        width: 100%;
       
        
    }

    .modes_wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, 45px);
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .checked_mode{
        height: 15px;width: 15px;
        background-color: #7d2ad5;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        position: absolute;
        margin: 0 auto;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        transition: transform all 0.5s ease;
    }

    .appli_head{
        position: absolute;
        top: 0;
        left: 0;
        color: #aaa;
        display: block;
    }
    
}