
.acc_footer{
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    /* border-top: 1px solid white; */
    /* font-size: 14px; */
    color: #96bedf;
    background-color: #0d4184;
    margin-top: 5px;
}

.acc_footer_right{
    display: flex;
    gap: 20px;
    
}

.acc_footer_right small:hover{
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 440px){
    .acc_footer{
        flex-direction: column;
        align-items: center;
        /* padding: 10px; */
        /* height: 80px; */
        justify-content:center;
     }
     
     .acc_footer_right{
         display: static;
         /* border: 1px solid red; */
         width: 100%;
         grid-template-columns: repeat(auto-fit, 40px);
         justify-content: center;
         gap: 5px;
         /* margin-top: 10px; */
         text-align: center;
         font-size: 0.5rem;
         
     }

     .acc_footer_left{
        display: none;
     }
}