.search{
    display: flex;
    background-color: white;
    padding: 7px;
    border-radius: 20px;
    width: 100%;
    align-items: center;
    max-width: 400px;
    gap: 0.2vw;
    margin: 20px 0;
}

.search svg{
    color: #afafaf;
    font-size: 1.5rem;
}

.search_input{
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    font-size: 17px;
    
}