.search{
    display: flex;
    background-color: white;
    padding: 1vh;
    border-radius: 25px;
    width: 100%;
    align-items: center;font-size: 1.8vh;
    gap: 0.2vw;
}

.search svg{
    color: #afafaf;
    font-size: 2.5vh;
}

.search_input{
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    
}