.btn_lang{
    background-color: transparent;
    border: 1px solid #888;
    border-radius: 5px;
}

.btn_lang{
    padding: 7px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 15px;
    transition: all 0.5s ease;
}

@media screen and (max-width: 720px){
    .btn_lang{
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
        color: white;
    }
    

}