.lan_lang{
    position: relative;
}
.btn_lang{
    background-color: transparent;
    border: 1px solid #888;
    border-radius: 5px;
}

.btn_lang{
    padding: 7px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 15px;
    transition: all 0.5s ease;
}

.lang_select{
    position: absolute;
    top: 35px;
    background: white;
    /* height: 150px; */
    padding: 15px;
    z-index: 10;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 5px;
    width: 150px;
    font-size: 17px;
    right:-40px;
}

.lang_code{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

/* .btn_lang{
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
} */

.btn_langz{
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    width: 120px;
    text-align: left;
}

.btn_langz:hover{
    background-color: rgb(226, 223, 223);
}


@media screen and (max-width: 720px){
    .btn_lang{
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
        color: white;
    }
    

}